{%extends 'components/base.html'%}
{%block titulo%}Login{%endblock%}
{%block contenido%}

{%from 'components/_macro_login.html' import render_login%}
<div class="bg-gray-900">

    <div class="flex flex-col justify-center items-center py-8 px-6 mx-auto md:h-screen">
        <div
            class=" justify-center items-center w-full bg-white rounded-lg shadow lg:flex md:mt-0 lg:max-w-screen-sm xl:p-0 dark:bg-gray-800">
            <div class="p-6 w-full sm:p-8 lg:p-10 ">
                <h1 class="mb-3 text-2xl font-bold text-gray-900 lg:text-3xl dark:text-white text-center">Inicio de
                    sesion
                </h1>
                <form class="mt-8" action="" method="post">
                    {{form.csrf_token}}

                    {{render_login(form.usuario)}}
                    {{render_login(form.contrasenia)}}
                    {{form.boton(class='hover:bg-sky-600  hover:text-neutral-900 cursor-pointer text-white font-medium rounded-lg text-base px-5 py-3 w-full sm:w-auto text-center mb-6 bg-blue-700 ')}}

                </form>
            </div>
        </div>
    </div>
</div>

{%endblock%}