{% macro render_login(field) %}
<div class="mb-6">
    <label for="{{ field.id }}" class="block mb-2 text-sm font-medium text-gray-900 text-white text-black">
        {{ field.label.text }}
    </label>
    {{ field(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder:text-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}
    
    {% if field.errors %}
    <ul class="text-red-500 text-sm mt-1">
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endmacro %}

{%macro render_buton_login()%}




{% endmacro %}
